<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Language Learning App</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<h1>Glocab</h1>
    <h4>A global vocabulary, language-learning app</h4>
    <img class="main-page-img" src="https://1.bp.blogspot.com/-8v8vMhoxdJU/XnVcs5WHIyI/AAAAAAAAzNU/yxynDuNvX2g06728NtvKAs_KVhfD9MJmQCLcBGAsYHQ/s1600/world_flags_globe_2.gif" alt="Flag Globe">
    <div class="centered">
        <form action="http://localhost:4000/select" method="post">
            <label>Username: <input type="text" name="username"></label>
            <input type="submit" name="login" value="Login">
        </form>
        <p></p>
        First time user? 
        <a href="http://localhost:4000/signup"><input type="button" name="signup" value="Sign Up"></a>
    </div>
    </body>

</html>