<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Leaderboard</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<h1><%- language %> Leaderboard</h1>
	<div class="centered">
		<%- board %> <p></p>
        <a href="/language/<%- language %>"><input type="button" value="Back to Learning"></a>
	</div>
</body>

</html>