<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Language Learning App</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/random-120/30/2-512.png" type="image/x-icon">
    </head>

    <body>
        <h1>Sign Up</h1>
        <div class="centered">
            <form action= "/select" method="post">
                <label>Username: <input type="text" name="username"></label><p>
                <label>First Name: <input type="text" name="firstname"></label><p>
                <input type="submit" name="signup" value="Sign Up">
            </form>
        </div>
    </body>

</html>