<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Language Learning App</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <h1>Sign Up</h1>
        <div class="centered">
            <form action="http://localhost:4000/select" method="post">
                <label>Username: <input type="text" name="username"></label><p>
                <label>First Name: <input type="text" name="firstname"></label><p>
                <input type="submit" name="signup" value="Sign Up">
            </form>
        </div>
    </body>

</html>